<h1>Update Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">

    Landmark(s):
    <input type="text" name="name" id="landmark[name]" value="<%=@landmark.name%>">
    <input type="text" name="year_completed" id="landmark[year_completed]"  value="<%=@landmark.year_completed.to_s%>">

     <input type="submit" value="Edit Landmark">

</form>
