<!DOCTYPE html>
  <body>
    <form action="/landmarks" method="post">
      Landmark:
      <input type="text" name="new_landmark" id="landmark[name]">

       <input type="submit" value="Create New Landmark">
    </form>
  </body>
<html>
