<form action="/figures" method="post">

  Figure:
  <input type="text" name="name">

  Titles:
  <input type="text" name="title_one">
  <input type="text" name="title_two">

  Landmark:
  <input type="text" name="landmark_name">

</form>
